[Desktop Entry]
Name=Open GP Client
Comment=GlobalProtect VPN Client for GNOME
Exec=env PYTHONPATH=/mnt/DATA/EDNA python3 -m open_gp_client
Icon=network-vpn
Type=Application
Categories=Network;System;
Keywords=VPN;GlobalProtect;GP;
StartupNotify=true
