[Desktop Entry]
Name=Open GP Client
Comment=GlobalProtect VPN Client
Exec=open-gp-client
Icon=network-vpn
Type=Application
Categories=Network;System;
Keywords=VPN;GlobalProtect;GP;
StartupNotify=true
